            * {
                box-sizing: border-box;
            }
            
            body {
            font-family: 'Segoe UI', sans-serif;
            margin: 0;
            }
            body::-webkit-scrollbar {
            display: none;
            }
            .container {
            display: flex;
            position: relative;
            min-height: 10vh;
            min-width: 50vw;
            align-items: center;
            justify-content: center;
            }
            @keyframes fadeInUp {
                0% {
                    opacity: 0;
                    transform: translateY(28px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            @keyframes fadeInRight {
                from {
                    transform: translateX(100%);
                }
                to {
                    transform: translateX(0);
                }
            }
            @keyframes down {
                from {
                    transform: translateY(-50%);
                    opacity: 0;
                }
                to {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
            @keyframes fadeInLeft {
                from {
                    transform: translateX(-80px);
                    opacity: 0;
                }
                to {
                    transform: translateX(0);
                    opacity: 1;
                }
            }

/* ==============================================================================CSS FOR NAVIGATION BAR========================================*/

            .navbar {
            display: flex;
            position: fixed;
            justify-content: space-between;
            align-items: center;
            background: #352d2d;
            padding: 3px 20px;
            z-index: 4;
            width: 100%;
            top: 0;
            left: 0;
            box-sizing: border-box;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.388);
            border-bottom: 1px solid wheat;
            }
            .logo{  
            margin-left: 3%;
            }
            .search {
            width: 40px;
            position: absolute;
            padding: 9px;
            margin-left: 6px;
            opacity: 0.7;
            }
            .leftside {
            gap: 350px;
            display: flex;
            align-items: center;
            }
            .logo img{
            width: 45px;
            margin-left: 30px;
            aspect-ratio: 1/1;
            filter: brightness(0) invert(1);
            }
            .nav-links {
            list-style: none;
            display: flex;
            gap: 20px;
            font-weight: 500;
            margin-right: 10px;
            }
            .nav-links li a {
            color: rgb(255, 247, 237);
            text-decoration: none;
            padding: 8px 12px;
            transition: 0.3s;
            }
            .nav-links li a:hover {
            background: #26cd3f;
            border-radius: 5px;
            }
            .dropdown {
            position: relative;
            }
            .dropdown-menu {
            position: absolute;
            top: 135%;
            left: 0;
            background: #333;
            list-style: none;
            padding: 10px 0;
            opacity: 0;
            transform: translateY(-10px);
            pointer-events: none;
            transition: opacity 0.2s ease, transform 0.2s ease;
            min-width: 150px;
            z-index: 2;
            }
            .dropdown-menu li a {
            display: block;
            padding: 8px 12px;
            color: #fff;
            }
            .dropdown-menu li a:hover {
            background: #26cd3f;
            }

            .dropdown:hover .dropdown-menu {
            opacity: 1;
            transform: translateY(0px);
            pointer-events: auto;
            }   

/* ==========================================================================CSS FOR REGISTER/LOGIN PAGE icikiwir ini bukan ai wlee==============*/

            .left, .right, .right2{
            flex: 1;
            padding: 35px;
            box-sizing: border-box;
            width: 200%;
            }
            .bodycontainer {
            display: flex;
            position: relative;
            height: 100vh;
            width: 100vw;
            align-items: center;
            justify-content: center;
            }

            .left {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            background-image: url(image/background.jpg);
            background-size: cover;
            background-position: center;
            height: 100vh;
            }

            .left h1 {
            position: absolute;
            font-size: 9.2vh;
            top: 40%;
            left: 3%;
            color: rgb(255, 247, 237);
            z-index: 2;
            line-height: 1.2;
            transform: translateX(-100%);   
            opacity: 0;                 
            text-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);    
            animation: slideIn 0.6s ease-out forwards;
            }
            @keyframes slideIn {
            to {
                transform: translateX(0);     
                opacity: 1;                   
            }
            }
            .right, .right2 {
            flex: 1;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #5f3f35f9;
            padding: 65px;
            max-width: 490px;
            height: 100vh;
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
            border: 2px solid #372925;
            border-radius: 5px;
            z-index: 2;
            transition: transform 0.5s ease;
            transform: translateX(100%);
            }
            .right.active, .right2.active {
            transform: translateX(0);
            animation: fadeInRight;
            animation-duration: 0.5s;
            animation-timing-function: ease-out;
            }
            .right h4, .right2 h4 {
                margin: -3px auto;
                color: #1f1f1f;
            }
            #registerForm {
                margin-top: 20%;
            }
            #loginForm {
                margin-top: 30%;
            }
            .right form input, .right2 form input{
            display: block;
            width: 48vh;
            padding: 12px 15px;
            margin: 7px auto;
            border: 1px solid rgb(136, 124, 110);
            border-radius: 5px;
            box-sizing: border-box;
            transition: 0.3s;
            font-family: Georgia, serif;
            color: #1f1f1f;
            background-color: rgb(255, 247, 237);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            }
            .right form button, .right2 form button {
            display: block;
            width: 60%;
            margin-left: auto;
            margin-right: -20px;
            margin-top: 5%;
            padding: 12px;
            background-color: #479a46;
            color: rgb(255, 247, 237);
            font-weight: bold;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            transition: 0.3s;
            }
            form button:hover {
            background-color: #2980b9;
            }
            span {
            cursor: pointer;
            }
            .regacccontainer {
            margin-top: 6%;
            display: flex;
            gap: 28px;
            justify-content: center;
            }
            .reglogtext {
                font-size: 2rem;
                color: #1f1f1f;
                margin: 0;
            }
            .reglogtextp {
                font-size: 1.1rem;
                font-weight: 450;
                margin: 0;
                color: #1f1f1f;
            }
            .loginacccontainer{
            justify-content: center;
            margin-top: 6%;
            }
            .loginacc {
            background-color:rgb(255, 247, 237);
            border: 2px solid rgb(124, 124, 124);
            aspect-ratio: 32/1;
            border-radius: 50px;
            width: 97%;
            display: flex;
            padding: 3%;
            justify-content: center;
            margin: 10px auto;
            }
            .buttonimage img {
            width: 30px;
            height: 30px;
            margin: 0;
            }
            a {
            text-decoration: none;
            }
            #regMessage, #logMessage {
            margin-top: 5px;
            position: absolute;
            font-size: 85%;
            }


/* =====================================================================================CSS FOR DASHBOARD ambatubass============================*/
            .layout {
            max-width: 1050px;
            margin: 0 auto;
            padding: 60px 0px 0px 0px; 
            position: relative;
            }
                .content {
                flex: 1;
                position: relative;
                max-width: 900px;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                background-color:  rgb(23, 24, 25);
                padding: 50px;
  
            }
            .bg {
            background: linear-gradient(to top, rgba(42, 38, 38, 0.767), rgba(88, 80, 78, 0.367)),
                        url('image/bwallpaper.jpg') center/cover no-repeat;
            color: #fff;
            }

            .profilepic {
                border-radius: 50%;
                width: 40px;
                height: 40px;
                margin: 0;
                flex-shrink: 0;
                object-fit: cover;
            }
            .user-profile-summary {
                display: column;
                align-items: center;
                text-align: left;
                background-color: rgba(77, 56, 41, 0.451);
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.353);
                padding: 20px;
                margin-bottom: 30px;
                margin-top: 15px;
                animation: down;
                animation-duration: 0.4s;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
                opacity: 0;
            }
            .profile-avatar {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 7px solid #1c1e20;
                margin: 10px 30px 0px 30px;
            }
            .namedate2 {
                line-height: 1.2;
                margin-bottom: 15px;
                position: relative;
                justify-content: center;
                align-items: left;
                top: 7px;
            }
            #welcome {
            text-align: left;
            margin: 0;
            flex-shrink: 0;
            font-size: 2.5rem;
            color: rgb(245, 233, 211);
            margin: 0;
            }
            .profile-tagline {
                font-size: 1rem;
                color: rgb(245, 233, 211);
                margin: 0;
                flex-shrink: 0;
            }
            #openbutton {
            width: 63%;
            height: 40px;   
            background-color: rgb(245, 233, 211);
            border: 1px solid #1f1f1f;
            border-radius: 10px;
            padding: 10px;
            resize: none;
            display: block;
            margin-left: 21%;
            margin-right: auto;
            margin-bottom: 15px;
            color: #1c1e20;
            line-height: 18px;
            }
            #createpost {
            height: 65%;
            width: 40%;
            top: 0;
            left: 50%;
            pointer-events: none;
            background-color: rgba(245, 233, 211, 0.952);
            border-radius: 10px;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            transition: transform 0.4s ease-out;
            transform: translate(-50%, -100%);
            }
            #createpost.active {
            transform: translate(-50%, 25%);
            pointer-events: auto;
            }
            .wlee {
            margin: 0;
            padding: 0px 20px 0px 20px;
            width: 95%;
            pointer-events: auto;
            align-items: center;
            justify-content: center;
            height: 400px;
            }
            .above {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0;
            }
            #createtitle {
                margin-left: 35%;
                margin-right: auto;
                color: #131212;
                font-size: 1.9rem;
                margin-top: 0;
                margin-bottom: 5px;
            }
            #exit {
                width: 30px;
                height: 30px;
                flex-grow: 0;
                margin: 0;
                cursor: pointer;
                justify-content: right;
            }
            #title {
                font-size: 120%;
                resize: none;
                width: 98%;
                border-radius: 7px;
                padding: 15px;
                height: 3rem;
                margin-top: 10px;
                resize: none;
                overflow: hidden;
            }
            #textbody {
            font-size: 120%;
            resize: none;
            width: 98%;
            border-radius: 7px;
            padding: 15px;
            height: 5rem;
            }
            #createpostname {
                font-size: 1.1rem;
                color: #1f1f1f;
                margin-left: 20px;
            }
            #createpostpic {
                width: 60px;
                height: 60px;
                flex-grow: 0;
                border-radius: 50%;
                border: 1px solid #131212;
            }
            #post {
                width: 10rem;
                height: 2rem;
                left: 50%;
                padding: 5px;
                background-color: #26cd3f;
                border-radius: 5px;
                display: block;
                margin-left: auto;
                margin-right: 0;
                font-weight: 600;
                margin-top: 5%;
                cursor: pointer;
            }
        .blog-posts-section h2 {
            text-align: center;
            margin-bottom: 30px;
            font-size: 2rem;
            color: #333;
            border-bottom: 2px solid #352d2d;
            display: inline-block;
            padding-bottom: 5px;
            margin-left: 50%;
            transform: translateX(-50%);
        }

        .blog-posts-section #posts-grid {
            display: flex;
            flex-direction: column;
            gap: 25px; 
            margin-top: 20px;
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
            opacity: 0;
            animation: fadeInLeft;
            animation-duration: 0.6s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            animation-delay: 0.2s;
        }
        .blog-card, .blog-cardnew {
            background-color: rgba(77, 56, 41, 0.451);
            border-radius: 8px;
            overflow: hidden; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.467); 
            transition: box-shadow 0.3s ease, transform 0.3s ease;
            display: column;
            flex-direction: row; 
            width: 100%; 
            max-height: 95vh;  
        }
        .blog-card:hover {
            background-color: rgba(91, 65, 47, 0.451);
        }
        .post-image {
            max-height: 550px;
            max-width: 100%;
            object-fit: contain;
            object-position: center;
            flex-shrink: 0; 
            margin-left: auto;
            margin-right: auto;
            margin: 0;
        }
        .blackgap {
            max-height: 100%;
            width: 100%;
            background-color: rgba(76, 77, 79, 0.175);
            display: flex;
            justify-content: center;
            flex-shrink: 0;
            overflow: hidden;
            border-radius: 10px;
        }
        .card-content {
            padding: 20px 25px 20px 25px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: space-between; 
        }
        .post-title, .post-titlenew {
            font-size: 1.5rem;
            color: rgb(245, 233, 211);
            margin: 0;
            white-space: nowrap;
        }
        .post-meta, .post-metanew {
            font-size: 0.85rem;
            color: rgb(245, 233, 211);
            margin: 0;
        }
        .post-snippet, .post-snippetnew {
            font-size: 0.95rem;
            color: rgb(245, 233, 211);
            line-height: 1.5;
            margin-bottom: 8px;
            flex-grow: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
            .namedate, .userdate{
                line-height: 1.2;
                margin-bottom: 15px;
                position: relative;
                top: 7px;
            }
            .namedate h4, p, .userdate h4, p{
                font-size: 1rem;
                margin: 0;
                color: rgb(245, 233, 211);
            }
            .userinfo{
                display: flex;
                justify-content: flex-start;
                gap: 8px;
                align-items: center;
            }



/* =====================================================================================================CSS FOR INDEX======================================*/

            .indexbg {
            background: linear-gradient(
                        to bottom,
                        rgba(225,225,225, 60),
                        rgba(238, 236, 230, 0.095)
                        ), url(image/korea2.jpg) center/cover no-repeat;
                        color: rgb(245, 229, 201);
            }
            .hero {
            text-align: center;
            padding: 120px 20px 80px;
            background: linear-gradient(to right, rgba(53,45,45,0.9), rgba(95,63,53,0.7)),
                        url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f") center/cover no-repeat;
            color: rgb(245, 233, 211)
            }

            .hero h1 {
            font-size: 5rem;
            margin-bottom: 10px;
            animation: fadeInUp;
            animation-duration: 0.7s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            opacity: 0;
            }

            .hero .tagline {
            font-size: 1.5rem;
            color: rgb(245, 233, 211);
            animation: fadeInUp;
            animation-duration: 0.7s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            opacity: 0;
            animation-delay: 0.3s;
            }
            .statscontainer {
                display: flex;
                width: 85%;
                justify-content: space-around;
                padding: 20px;
                text-align: center;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 3%;
            }
            .stats {
                flex: 1;
                padding: 10px;
                border-right: 1px solid #1c1e20;
                animation: fadeInUp;
                animation-duration: 0.7s;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
                opacity: 0;
                animation-delay: 1s;
            }
            .stats:last-child {
                border-right: none;
            }
            .statsnumber {
                font-size: 4.2rem;
                font-weight: bold;
                color: #1c1e20;
            }
            .statslabel {
                font-size: 2rem;
                color: #1c1e20;
            }
            .middle{
                font-size: 2rem;
                color: #372925;
                justify-content: center;
                text-align: center;
                padding: 10px;
                font-weight: 600;
                display: flex;
                margin-top: 7%;
                margin-bottom: 7%;
                animation: fadeInUp;
                animation-duration: 0.7s;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
                opacity: 0;
                animation-delay: 1.3s;
            }
            .blackbox {
                width: 100%;
                position: relative;
                background-color: #18191ae8;
                height: 500px;
                justify-content: space-between;
                display: flex;
                align-items: center;
                padding: 30px;
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.467); 
            }
            .whitebox {
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 600px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 7%;
                margin-bottom: 12%;
            }
            .whycontainer {
                display: column;
                padding: 10px;
                align-items: center;
            }
            .whycontainer1 {
                display: flex;
                padding: 10px;
                max-width: 40%;
                flex-direction: column;
                align-items: center;
                margin-top: 5%;
                margin-bottom: 4%;
            }
            .why {
                font-size: 4rem;
                color: rgb(245, 233, 211);
                font-weight: 700;
                margin: 0;
                line-height: 1.1;
                margin-bottom: 10px;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.178); 
            }
            .why1 {
                font-size: 4rem;
                color: #1c1e20;
                font-weight: 700;
                text-align: center;
                margin: 0;
                margin-bottom: 30px;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.178); 
                white-space: nowrap;
            }
            .reason {
                font-size: 1.7rem;
                color: rgb(245, 233, 211);
            }
            .reason1 {
                font-size: 1.7rem;
                color: #1c1e20;
                text-align: center;
                flex: 1;
                max-width: 30%;
                padding: 0 10px;
            }
            #whyimg {
                max-width: 80%;
                max-height: 90%;
                flex-grow: 0;
                border-radius: 4px;
            }
            .examplegrid {
                display: flex;
                max-width: 80%;
                justify-content: space-around;
                max-height: 40%;
                margin-top: 10%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 11%;
            }
            .examplepost {
                position: relative;
                width: 31%;
                height: 40%;
                background-color: #372925;
                padding: 2px;
                border: 1px solid #1c1e20;
                border-radius: 10px;
                justify-content: center;
                transition: transform 0.3s ease;
            }
            .examplepost:hover {
                transform: scale(1.1);
            }
            #joinnow {
                width: 45%;
                height: 5rem;
                background-color: #352d2d;
                border-radius: 50px;
                padding: 20px;
                cursor: pointer;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                text-align: center;
                display: block;
                font-size: 150%;
                margin-top: 2%;
                margin-bottom: 20%;
                transition: transform 0.3s ease;
            }
            #joinnow:hover {
                transform: scale(1.1);
            }

/*==================================================================================CSS FOR SETTING ikan lele ikan paus ikan teri================*/
            .settingsbg {
                margin-top: 65px;
                width: 80%;
                height: 100vh;
                background-color: #1c1e20;
                margin-left: auto;
                margin-right: auto;
                padding: 40px;
            }
            .settingscontainer {
                width: 85%;
                height: 90vh;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5%;
            }
            #setting, #setting2 {
                border: 1px solid rgb(255, 247, 237);   
                border-radius: 10px;
                font-size: 120%;
                font-weight: 550;
                padding: 15px;
                background-color: #1c1e20;
                color: rgb(255, 247, 237);
                width: 100%;
                text-align: left;
                pointer-events: auto;
                margin-bottom: 20px;
            }
            #setting:hover, #setting2:hover{
                background-color: #413f3f83;
                cursor: pointer;
            }
            #changeuser, #changepass {
            height: 50%;
            width: 50%;
            top: 0;
            left: 50%;
            pointer-events: none;
            background-color: rgb(52, 40, 32);
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.349); 
            border-radius: 7px;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            transition: transform 0.4s ease-out;
            transform: translate(-50%, -100%);
            }
            #changeuser.active, #changepass.active {
            transform: translate(-50%, 25%);
            pointer-events: auto;
            }
            #cuinterface {
            margin: 0;
            padding: 0px 20px 0px 20px;
            width: 95%;
            pointer-events: auto;
            align-items: center;
            justify-content: center;
            }
            .popupcontainer {
                margin: 0;
                padding: 0;
                height: 380px;
            }
            .above2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;
            }
            #close, #close2 {
                width: 30px;
                height: 30px;
                flex-grow: 0;
                margin-top: 25px;
                cursor: pointer;
                justify-content: right;
            }
            .changeusertext {
                color: antiquewhite;
                text-align: left;
                padding: 10px;
                font-size: 160%;
                margin-bottom: 0px;
            }
            .cuform {
                width: 80%;
                background-color: antiquewhite;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.142); 
                padding: 10px;
                border-radius: 5px;
                height: 40px;
                resize: none;
                margin-bottom: 10px;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                font-size: 110%;
            }
            .cutext {
                font-size: 1.1rem;
                color: rgb(245, 233, 211);
                margin-left: 10%;
                margin-bottom: 2px;
            }
            #save, #save2{
                width: 9rem;
                padding: 10px;
                height: 2.2rem;
                margin-left: auto;
                display: block;
                margin-right: 0;
                background-color: #26cd3f;
                color: #131212;
                border-radius: 5px;
                border: 1px solid #131212;
                font-weight: 600;
                margin-top: 5%;
            }
            #save:hover, #save2:hover{
                cursor: pointer;

            }

